<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FloatKey" value="3.14"/>
		<add key="StringKey" value="One"/>
		<add key="IntegerKey" value="42"/>
		<add key="BooleanKey" value="true"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>